{% extends "CAFTANAdminBundle::layout.html.twig" %}
{% block section %}

    <h3>Formulaire des messages:</h3>


    <div class="well">

        {{ form(form) }}

    </div>

    <ul>
        <li class="btn btn-success"><a href="{{path('caftan_admin_show_messages')}}">back to list</a></li>
       
    </ul>
{% endblock %}
