{% extends "CAFTANAdminBundle::layout.html.twig" %}
{% block section %}

    <h3>Formulaire d'images</h3>


    <div class="well">
        
          {#%form_theme form "fields.html.twig"%#}
        {{ form(form) }}

    </div>

    <ul>
        <li class="btn btn-success"><a href="{{path('caftan_admin_show_images')}}">back to list</a></li>
       
    </ul>
{% endblock %}
