 
{% extends "CAFTANAppBundle::base.html.twig" %}
{% block section %}
<div class="corp container">
        <div class="annonceContent">
            
        
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">Modifier votre annonce par ici:</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class=" row container">
                
                {{form(form)}}
             
            </div> <!-- /.row -->
            
        </div>
    </div>
    
{% endblock %}