
{% extends "CAFTANAppBundle::base.html.twig" %}
{% block section %}


 <div id="publier" class="content-section">
      
    </div> 
    
        <div id="product-promotion" class="content-section">
        
        <div class="container">
           
            <div class="row container">
                <div class="col-md-12 text-center">
                    <h1 class="section-title">publier votre annonce par ici:</h1>
                </div> <!-- /.col-md-12 -->
            </div> <!-- /.row -->
            <div class=" row container">
                <div class="well">

                    <form method="post" enctype="multipart/form-data">
                        {{ form_widget(form) }}
                    </form>

                </div>
                  
             
            </div> <!-- /.row -->
        </div> <!-- /.container -->
    </div> <!-- /#product-promotion -->
 
    {%endblock%}